@use "../../foundation/variable" as vars;
.result-details-content {
    padding-top: 7rem;
    padding-bottom: 15.7rem;
    @include vars.sp {
        padding-top: 5.1rem;
        padding-bottom: 19.6rem;
    }
}


// main-card--------------------------------
// card
.result-main__card-image {
    width: 100%;
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 88 / 40;
        object-fit: cover;
        @include vars.sp {
            aspect-ratio: 33.5 / 23.6;
        }
    }
}

.result-main__card-text {
    h1 {
        @include vars.text-style(2.5rem, calc(40/25));
        margin-top: 5rem;

        @include vars.sp {
            @include vars.text-style(2rem, calc(30/20));
            margin-top: 3rem;
        }
    }

    time {
        display: block;
        @include vars.text-style(1.7rem, calc(30/17));
        font-weight: 500;
        margin-top: 1.3rem;
        @include vars.sp {
            margin-top: 0.3rem;
            padding-left: 0;
        }
    }

    span {
        display: inline-block;
        @include vars.sp {
            display: none;
        }
    }
}

.result-main__card-btn {
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    @include vars.text-style(1.5rem, calc(25/15));
    padding-top: 0.2rem;
}

// profile--------------------------------
.result-details-profile {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    @include vars.sp {
        flex-direction: column;
        gap: 0;
        margin-top: 2.3rem;
    }
}

.result__profile-table {
    width: 40rem;
    border-collapse: collapse;
    table-layout: fixed;

    @include vars.sp {
        width: 33.5rem;   
    }

    th,
    td {
        padding: 0.38rem 0 0.38rem 2rem;
        @include vars.text-style(1.8rem, calc(30/18));
        border: 0.5px solid #707070;
        text-align: left;
        vertical-align: middle;
        
        @include vars.sp {
            padding-left: 1rem;
        }
    }

    th {
        width: 14rem;
        
        @include vars.sp {
            width: 12rem;
        }
    }
}

.result__profile-table {
    .profile-left {
        background-color: #E5E5E5;
    }

    .profile-right {
        font-weight: 500;
    }
}

.result__profile__text {
    flex: 1;
    padding-right: 1rem;
    @include vars.sp {
        width: 100%;
    }

    p {
        @include vars.text-style(1.8rem, calc(30/18));
        font-weight: 500;
        @include vars.sp {
            margin-top: 2.8rem;
        }
    }
}


// article-before&after--------------------------------
.result-before-after {
    margin-top: 6rem;
    gap: 20rem;
    @include vars.sp {
        margin-top: 4rem;
        gap: 2.2rem;
    }
}

// article--------------------------------
.result-details-main__article {
    margin-top: 10rem;
    @include vars.sp {
        margin-top: 6rem;
    }
}

.result__article-title {
    @include vars.text-style(1.8rem, calc(33/18));
    padding: 0.9rem 0 0.8rem 3rem;
    @include vars.sp {
        text-align: center;
        padding: 1rem 0;
    }
}

.result__article-items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include vars.sp {
        margin-top: 1.9rem;
        gap: 2rem;
    }
}

// card
.result__article-items-card {
    display: flex;
    gap: 3rem;
    @include vars.sp {
        gap: 2rem;
    }
    &:hover {
        @include vars.hover-opacity;
    }

}

.result-article__card-image {
    width: 26rem;
    @include vars.sp {
        width: 16rem;
    }
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 26 / 18.3;
        object-fit: cover;
        @include vars.sp {
            aspect-ratio: 16 / 11.3;
        }
    }
}

.result-article__card-text {
    flex: 1;
    h3 {
        @include vars.text-style(2rem, calc(25/20));
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include vars.sp {
            @include vars.text-style(1.7rem, calc(28/17));
            margin-top: 0.8rem;
            @include vars.sp {
                margin-top: 0;
            }
        }
    }

    time {
        display: block;
        @include vars.text-style(1.7rem, calc(30/17));
        font-weight: 500;
        margin-top: 1.3rem;
        padding-left: 0.5rem;
        @include vars.sp {
            margin-top: 0.3rem;
            padding-left: 0;
        }
    }

    span {
        display: inline;
        @include vars.sp {
            display: none;
        }
    }
}

