@use "../../foundation/variable" as vars;
.top__question {
    padding: 2.5rem 0;
    @include vars.sp {
        padding: 0.5rem 0;
    }
}

.question__title {
    @include vars.text-style(3rem, calc(50/30));
    @include vars.sp {
        @include vars.text-style(2.5rem, calc(40/25));
    }
}

.question__box {
    margin-top: 3.5rem;
    @include vars.sp {
        margin-top: 3.7rem;
    }
}

.question__card {
    border-top: 0.5px solid vars.$color-text;
    &:last-child {
        border-bottom: 0.5px solid vars.$color-text;
    }
}


.question__card-q,
.question__card-a {
    padding: 1.75rem 5rem 1.75rem 6.5rem;
    position: relative;
    @include vars.sp {
        padding: 1.3rem 4.5rem 1.3rem 5.5rem;
    }

    p {
        @include vars.text-style(1.7rem, calc(30/17));
        font-weight: 500;
        @include vars.sp {
            @include vars.text-style(1.6rem, calc(30/16));
        }
    }
}

.question__card-q {
    cursor: pointer;
}

.question__card-a {
    background-color:rgba(203, 0, 0, 0.1);
    display: none;
    cursor: pointer;
}

.question__q-icon__box,
.question__a-icon__box {
    position: absolute;
    top: 50%;
    left: 3em;
    transform: translateY(-50%);
    @include vars.sp {
        left: 1rem;
    }
}

.question__arrow {
    width: 1.3rem;
    height: auto;
    transition: transform 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    @include vars.sp {
        right: 1.5rem;
    }
}

.question__card.is-open .question__arrow {
    transform: rotate(180deg);
    transform-origin: center 0.2rem;
}

.question__card.is-open .question__card-a {
    overflow: hidden;
}

.question__q-icon,
.question__a-icon {
    @include vars.text-style(2rem, calc(30/20));
    display: block;
    font-style: bold;
    color: vars.$color-white;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.question__q-icon{
    &::after {
        background-color: vars.$color-text;
    }
}

.question__a-icon{
    &::after {
        background-color: vars.$color-main;
    }
}
