@use "../foundation/variable" as vars;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: vars.$color-white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    max-width: 108rem;
    height: 8rem;
    margin: 0 auto;
    @include vars.sp {
        height: 5rem;
        padding: 1rem 0 1rem 1.7rem;
    }

    
}

.header__title{
    height: inherit;
    display: flex;
    align-items: center;
    @include vars.text-style(2rem, calc(23/20));
   
    @include vars.sp {
        @include vars.text-style(1.3rem, calc(14/13));
    }
    
    a {
        height: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        @include vars.sp {
            flex-direction: row;
            align-items: center;
        }
    }
    
    span {
        @include vars.text-style(1.5rem, calc(23/15));
        @include vars.sp {
            @include vars.text-style(1.3rem, calc(14/13));
        }
    }
}


.header__title-link {
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
    padding-left: 4.2rem;
    @include vars.transition;
    
    &:hover {
        @include vars.hover-opacity;
    }
    
    @include vars.sp {
        padding-left: 3rem;
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 45%;
        transform: translateY(-50%);
        width: 3.2rem;
        height: 4.9rem;
        background-image: url('../image/top/logo_header.svg');
        
        @include vars.sp {
            left: 1%;
            top: 50%;
            transform: translateY(-50%);
            width: 2rem;
            height: 3.1rem;
            background-size: contain;
        }
    }
}




.header__nav {
    height: inherit;
    display: flex;
    align-items: center;
    @include vars.text-style(1.7rem, calc(33/17));


    @include vars.sp {
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
        height: inherit;
    }

    ul {
        display: flex;
        height: inherit;
        align-items: center;
        gap: 1.3rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        height: inherit;
        display: flex;
        align-items: center;
        position: relative;
        
        a {
            padding-inline: 1rem;
            display: flex;
            align-items: center;
            @include vars.transition;
            
            &:hover {
                @include vars.hover-opacity;
            }
        }

        span {
            display: block;
            position: absolute;
            bottom: 30%;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: vars.$color-text;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        
        &:hover span {
            opacity: 1;
        }
    }
}



.header__nav-link {
    @include vars.text-style(1.7rem, calc(33/17));
    height: inherit;
    display: flex;
    align-items: center;
}

.header__nav ul li:nth-of-type(3) {
    margin-right: 0.7rem;
}

.btn-header {
    @include vars.text-style(1.5rem, calc(33/15));
    padding: 0.5rem 3rem!important;
    @include vars.transition;
    &:hover {
        @include vars.hover-reversecolor;
        border: 0.1rem solid vars.$color-main;
        opacity: 1 !important;
    }
}

/* hamburger menu */
/* ハンバーガーメニュー */
.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 7rem;
    height: 5rem;
    background: vars.$color-main;
    border: 0.1rem solid vars.$color-main;
    cursor: pointer;

    /* active状態 */
    &.active {
        .hamburger-line {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
    position: absolute;
    left: 1.8rem;
    top: 2.2em;
    width: 3.2rem;
    height: 0.4rem;
    background: vars.$color-white;
    border-radius: 0.2rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.hamburger-line {
    &::before,
    &::after {
        content: "";
        left: 0;
    }

    &::before {
        top: -1.2rem;
    }

    &::after {
        top: 1.2rem;
    }
}

/* ハンバーガーメニュー */
.hamburger-menu {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 30rem;
    transition: transform 0.3s ease;
    z-index: 999;
    transform: translateX(100%);
    
    &.active {
        transform: translateX(0);
    }
    
    nav {
        width: 100%;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
        
            li {
                a {
                    display: block;
                    padding: 1.25rem 0 1.25rem 2rem;
                    @include vars.text-style(1.8rem, calc(33/18));
                    text-decoration: none;
                    color: vars.$color-white;
                    @include vars.transition;
                    background-color: vars.$color-main;
                    
                    &:hover {
                        background-color: vars.$color-black;
                    }
                }
            }
        }
    }
}

/* ハンバーガー背景 */
.hamburger-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 998;
    pointer-events: none;

    &.active {
        pointer-events: auto;
    }
}

// 問い合わせボタンスタイル変更
.header__nav ul li:last-of-type a {
    width: 15rem;
    height: 4.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // c-btn
    border: 0.1rem solid vars.$color-main;
    color: vars.$color-white;
    background-color: vars.$color-main;
    @include vars.transition;
  
    &::after {
      display: none;
    }
  
    &:hover {
      color: vars.$color-main;
      background-color: vars.$color-white;
      opacity: 1;
    }
  }
  